#app{
  width:70%;
}

#my-name{
  margin-right:0.5em;
  margin-bottom:1em;
  background-color:rgb(144, 223, 91);
  border-radius: 1em; 
  -moz-box-shadow: inset 0 0 7px rgb(173, 173, 173);
  -webkit-box-shadow: inset 0 0 7px rgb(173, 173, 173);
  box-shadow: inset 0 0 7px rgb(177, 177, 177);
}
#opponent-name{
  margin-left:0.5em;
  margin-bottom:1em;
  background-color:rgb(243, 109, 99);
  border-radius: 1em; 
  -moz-box-shadow: inset 0 0 7px rgb(173, 173, 173);
  -webkit-box-shadow: inset 0 0 7px rgb(173, 173, 173);
  box-shadow: inset 0 0 7px rgb(177, 177, 177);
}

#center-col > div.row:first-child{
    margin:0;
    overflow:hidden;
    border-radius: 1em;
    margin-bottom:1em;

  }

#users-online{
  border: 1px solid lightgray;
  border-radius: 3px 3px 0 0;
  height:20em;
  overflow: auto;
  
  
  .user-div{
    border-bottom: 1px solid lightgray;
    display:flex;
    align-items:center;
    width:100%;
    height:10%;
    p{
      float:left;
      margin:0;
      padding:0.5em;
    }

  }
  .user-div:hover{
    background-color: rgb(198, 229, 238);
  }
  

  .user-status{
    height:0.7em;
    width:0.7em;
    margin-left:1em;
    background-color: rgb(51, 177, 51);
    border-radius:100%;
    
  }
}

.form-control{
  margin-bottom:1em;
}

.selected{
  background-color:rgb(111, 176, 219);
}

#login-btn{
  margin:0 1em;
}

#play-btn{
  background-color: rgb(85, 206, 85);
  color: rgb(39, 39, 39);
  padding:0.5em;
  width:100%;
  border-radius:0;
  border-radius: 0 0 3px 3px;
}

#waiting{
  margin-top:25%;
  
}

#cancel-req-btn{
  background-color: rgb(209, 99, 85);
  
}


.incoming-challenge{
  
  border: 1px solid lightgray;
  border-radius:3px;
  float: right;
  width: 50%;

  button{
    width: 50%;
    border-radius:0;
  
  }
  .accept-chal{
    background-color: rgb(85, 206, 85);
    &:hover{
      background-color: rgb(73, 180, 73);
    }
   border-radius:0 0 0 3px; 
  }
  .decline-chal{
    background-color: rgb(241, 241, 241);
    color: rgb(39, 39, 39);
   border-radius:0 0 3px 0; 
   &:hover{
     background-color: rgb(196, 196, 196)
   }
  }

}
$borderColor: rgb(200,200,200);
#gameboard{
  margin:0px;
  border-radius:3px;
  overflow:hidden;
  border:1px solid $borderColor;
  canvas{
    height:6.5vw;
    padding:0;
    &:nth-child(n){
      border-right:1px solid $borderColor; 
      border-bottom: 1px solid $borderColor;
    
    }
    &:nth-child(3n + 3){
      border-right: 0;
    }
    &:nth-child(n+7){
      border-bottom:0;
    }
  }
  
}
.winColor{
  opacity:1;
  background-color:rgb(144, 223, 91);

}
.loseColor{
  background-color:rgb(209, 99, 85);

}
.drawColor{
  background-color:rgb(245, 219, 105);

}

