#app{
  width:50%;
}

#users-online{
  border: 1px solid lightgray;
  height:20em;
  overflow: auto;
  margin-top:0.5em;
  
  .user-div{
    border-bottom: 1px solid lightgray;
    display:flex;
    align-items:center;
    width:100%;
    height:10%;
    p{
      float:left;
      margin:0;
      padding:0.5em;
    }

  }
  .user-div:hover{
    background-color: rgb(198, 229, 238);
  }
  

  .user-status{
    height:1em;
    width:1em;
    background-color: green;
    border-radius:100%;
    
  }
}

.selected{
  background-color:rgb(111, 176, 219);
}

#login-btn{
  margin:1em 1em;
}

#play-btn{
  background-color: rgb(85, 206, 85);
  color: rgb(39, 39, 39);
  padding:0.5em;
  width:100%;
  border-radius:0;

}

#incoming-challenge{
  background-color: rgb(224, 177, 96);

}