doctype html
include partials/header.pug
body 
  div#app.container-fluid
    h1.text-center Tic Tac Toe
    div.row.justify-content-center
      div#left-col.col-sm-12.col-lg-4
        div.incoming-challenge.text-center
          p
          button(type="button").accept-chal.btn.btn-primary Yes
          button(type="button").decline-chal.btn.btn-danger No
      div#center-col.col-sm-12.col-lg-4.text-center
        div#gameboard.row
          canvas#x0.col-4
          canvas#x1.col-4
          canvas#x2.col-4
          canvas#x3.col-4
          canvas#x4.col-4
          canvas#x5.col-4
          canvas#x6.col-4
          canvas#x7.col-4
          canvas#x8.col-4
        div#users-online
          p#waiting.align-self-center
          button#cancel-req-btn.btn.btn-primary Cancel
          div.user-div
            div.user-status 
            div.username loading...
            div.wins t
            div.losses t
        button(disabled)#play-btn.btn.btn-primary Play
        div.row
          div#my-name.col.text-center
            h3 
          div#opponent-name.col.text-center
            h3
      div#right-col.col-sm-12.col-pull-12.col-lg-4
        form#login-form
          div#login-error
          input(type="text" placeholder="username")#username.form-control
          input(type="password" placeholder="password")#password.form-control
          button(type="button")#login-btn.btn.btn-primary.text-center Log In 
          button(type="button")#signup-btn.btn.btn-secondary.text-center Sign Up